:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.poke-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 0 30%;
  gap: 10px;
}

.poke-cell {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  text-align: center;
  padding: 4px;
}

.poke-cell-grass {
  background-color: #0b0;
}

.poke-cell-fire {
  background-color: #b00;
}

.poke-cell-water {
  background-color: #06f;
}

.poke-strength-0:hover {
  background-color: #aaa;
}

.poke-strength-1:hover {
  background-color: #cc0;
}

.poke-strength-2:hover {
  background-color: #c0c;
}

@media screen and (max-width: 600px) {
  .poke-grid {
  	grid-template-columns: auto;
	margin: 0 20%;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
